body {
	margin: 0;
	background: #f4f4f4;
	font-family: 'Noto Sans TC', sans-serif;
}
.secondary {
    background: #0a24fb;
}
h2 {
	display: inline-block;
  margin: 0px;
  font-size:25px;
}
h3 {
  font-size: 20px;
  margin-top: 10px;
}
h4 {
  font-size: 15px;
  margin-top: 10px;
}
.lighter-text {
  color: rgba(255,255,255,0.75);
}
.bg {
	background: #FB690A;
	border-radius: 0px 0px 0px 0px;
	top: 0;
	z-index: -1;
	width: 100%;
	background-image: url("https://www.tristan.games/e/image/img/mksdfm.svg");
	background-size: 347px 344px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.flex {
	display: flex;
}
.header {

}
.logo-box {
  	width: 90%;
	max-width: 750px;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 15px;
}
.logo-box img {
	width: 90%;
	max-width: 270px;
}
.buy-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-box {
	margin-left: auto;
}
.basic-card {
	margin: auto;
	width: 90%;
	max-width: 750px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
	border-radius: 10px;
	font-size: 19px;
  margin-bottom: 10px;
}
.padding-med {
	padding: 15px;
}
.clear {
	background: transparent;
	box-shadow: none;
	color: #fff;
}
.highlighted-text {
	color: #0a24fb;
	text-transform: uppercase;
	font-weight: 700;
}

.buy-button {
  background: #0a24fb;
  width: 95%;
  margin: auto;
  display:block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
	border-radius: 6px;
	font-size: 25px;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 8px;
	transition: all 0.333s;
}
.buy-button:hover {
 filter: drop-shadow(7px 8px 0px rgba(0, 0, 0, 1));
 transform: translateY(-2px);
}
.imgs {
  width: 100%;
  display: inline-block;
  border-radius: 6px;
  margin: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,.12);
}
.half {
  width: 49%;
}
.dark-text {
  color: #000;
}

.darkish {
  color: rgba(0,0,0,0.5)
}
.full-width {
  width: 100%;
}
.spacer {
  height:55px;
}
.review-card {
}
.picture-box {
  width: 100%;
  display: block;
  text-align: center;
}
.picture-box img{
  width: 90%;
  display: block;
  margin: auto;
  max-width: 100px;
  border-radius: 50%;
  border: 6px solid #7995ce;
  margin: auto;
  margin-top: -70px;
box-shadow: 0 1px 2px rgba(0,0,0,.12);
}
.reviewer-name {
  font-size: 28px;
  font-weight: bold;
  
}
.review-box {
  width: 75%;
  margin: auto;
  text-align:  center;
}
body {
background-color: #f4f4f4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 80 80'%3E%3Cg fill='%23dbdbdb' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
